<div class="topic-photos">
  <div *ngIf="photosListLoading$ | async" class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!(photosListLoading$ | async)" class="photos-list">
    <mat-card *ngFor="let photo of photos$ | async">
      <picture>
        <source media='(min-width:0px)' srcset="{{ photo.urls.small }}">
        <img mat-card-image src="{{ photo.urls.small }}" alt="{{ photo.description }}">
      </picture>
      <mat-card-content>
        <p>
          {{ photo.description || 'No description...' }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>