.mat-toolbar {
  justify-content: center;
  height: 50px;
}

.mat-sidenav-container {
  position: fixed;
  height: calc(100% - 50px);
  width: 100%;
}

.mat-sidenav {
  width: 200px;
}

.sidebar-toggle-btn {
  .mat-icon {
    text-align: center;
  }
}