<div class="topic-controls">
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="toggleSidenav()"
    >
      {{ ((sidebarOpened$ | async) ? 'Hide' : 'Show') + ' topics list' }}
    </button>
  </div>
  <div>
    <b>{{ (activeTopic$ | async)?.title }}</b>
  </div>
  <div *ngIf="(activeTopic$ | async)" class="pagination-controls">
    <button
      [disabled]="(currentPage$ | async) === 1"
      mat-raised-button
      color="primary"
      (click)="previousPageClicked()"
    >
      Prev
    </button>
    <div class="page-number">
      Page {{ (currentPage$ | async) }} of {{ (totalPages$ | async) }}
    </div>
    <button
      [disabled]="(currentPage$ | async) === (totalPages$ | async)"
      mat-raised-button
      color="primary"
      (click)="nextPageClicked()"
    >
      Next
    </button>
  </div>
</div>
