<mat-toolbar>
  <span>Unsplash picture browser</span>
</mat-toolbar>
<mat-sidenav-container
  hasBackdrop="false"
>
  <mat-sidenav
    #sidenav
    [opened]="sidenavOpened"
    mode="side"
  >
    <app-topics-list *ngIf="sidenavOpened">
    </app-topics-list>
    
    <p>
      <button
        mat-icon-button
        color="primary"
        (click)="toggleSidenav()"
        class="sidebar-toggle-btn"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-topic-controls></app-topic-controls>
    <app-topic-pictures></app-topic-pictures>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
